.Dishes-to-order  {
    height: 570px;
    max-width: 1290px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 61px;
    justify-content: center;
    .section-title1 {
        h1{
            font-size: 3rem;
            color: #414549
        }
        p{
            font-size: 18px;
            color: #9a9a9a;
        }
    }
    .food-examples {
        columns:4;
        column-gap: 120px;
        height: 300px;
        width: 890px;
        margin: 0px auto 0 155px;
        justify-content: center;
        .Sushi{
            height: 222.5px;
            width: 222.5px;
            line-height: 222.5px;
            background-image: url(../images/Sushi.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-right: 10px;
            border-radius: 20px;
            h3 {
                color: white;
            }
        }
        .Pizza {
            height: 222.5px;
            width: 222.5px;
            line-height: 222.5px;
            background-image: url(../images/Pizza.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-right: 20px;
            border-radius: 20px;
            h3 {
                color: white;
            }
        }
        .Burgers{
            height: 222.5px;
            width: 222.5px;
            line-height: 222.5px;
            background-image: url(../images/Cheeseburger.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-right: 20px;
            border-radius: 20px;
            h3 {
                color: white;
            }
        }
        .Desserts {
            height: 222.5px;
            width: 222.5px;
            line-height: 222.5px;
            background-image: url(../images/Dessert.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 20px;
            h3 {
                color: white;
            }
        }
    }
}